config-Windows.ini
config-Linux.ini
config-Darwin.ini
config-Android.ini
config-example.ini
config-diff.ini
.tmp/
.instances/
mpv_embed/
python_embed/
log.txt
*_token.json
JellyfinToLocalPlayer.zip
artifacts/
upstream-embed.zip
__pycache__/
*.pyc
node_modules/
.idea/
